@import url('https://fonts.googleapis.com/css?family=Russo+One');



h1 {
    color:white; /* this is a css comment; */
    font-family: 'Russo One', sans-serif;
    
}

p {
    font-family: 'Russo One', sans-serif;
}

.loop {
    color:#ff9743;
}

#basic {
    color:#ff9922;
}

.navbarNav {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}