{% extends "header.html" %}

{% block body %}
 
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1080px;
}
</style>
</head>
<body>
</body>
</html>


<center><h1><font color="black">About DriftHaven</font></h1></center>
<br>
<center><p><font size="3">Hello, My name is Mitchell and I am the designer and creator of the website DriftHaven designed to specialize in showcasing exterior/aero car parts for drift cars!</font></p><center>
<br>
<center><p><font size="3">This website is a place for car enthusiasts to look for exterior car modifications without searching hundreds of different websites to find the best quality parts, as my website will list the best quality parts available at the given time.I want to be able to give the best price and quality for each item, and deciding on which the user chooses, they will be directed to the website that actually sells the desired item.</font></p><center>
<br>
<center><p><font size="3">There are thousands if not millions of websites that produce and sell exterior car parts, and I want to be able to bring the best quality ones together onto one site so people do not have to spend hours searching. As for myself, a car enthusiast, when I was searching for car parts for my car, I took a long time to find the product I wanted, and went through many different sites. It will be convenient and reliable, and make car enthusiast more motivated to find their product quickly and get ready to join the club of modified cars.</font></p><center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center><p><font size="3" color="white">Also, if you have a local company or busniess that sells and makes exterior / aero car parts, please FILL OUT OUR FORM ON THE SUPPORT PAGE! Help local busniess grow and gain a following, if they are making quality parts they deserve recognition!</font></p><center>




{% endblock %}