{% extends "header.html" %}

{% block body %}

<html>
<head>
<style>
div.a {
  text-align: center;
}
 
</style>
 
</head>

</html>

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1080px;
}
</style>
</head>
<body>
</body>
</html>
    
<div style="text-align:center">
  <h2>Body Kits</h2>
  <p>Click on the buttons below to view each car</p>
</div>  
<br>
<div>
    <div class="a">
        <a href="https://www.bodykits.com/"><button type="button" class="btn btn-secondary btn-lg">Body Kits</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.battleaero.com/collections/body"><button type="button" class="btn btn-secondary btn-lg">Battle Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.vividracing.com/body-aero-kits-c-4218.html"><button type="button" class="btn btn-secondary btn-lg">Vivid Racing</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.duraflexbodykits.com/"><button type="button" class="btn btn-secondary btn-lg">Duraflex Body Kits</button></a>
    </div>
        <br>
    <div class="a">
        <a href="http://www.fiberglassmafia.com/store/c1/Featured_Products.html"><button type="button" class="btn btn-secondary btn-lg">FiberGlass Mafia</button></a>
    </div>
    <br>
     <div class="a">
        <a href="http://www.greddy.com/products/aerodynamics/"><button type="button" class="btn btn-secondary btn-lg">Greddy</button></a>
    </div>
</div>
<br>
{% endblock %}