{% extends "header.html" %}

{% block body %}

<html>
<head>
<style>
div.a {
  text-align: center;
}

</style>
 
</head>
 
<body>
 
</body>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1200px;
}
</style>
</head>
<body>
</body>
</html>
    <!-- Could not get background image to appear -->
    <!-- Also, In order for me to have the images straight across, hrefs had to be used. It would not let me change imported images individually -->
<div style="text-align:center">
  <h2>Chassis Mount Wing</h2>
  <p>Click on the buttons below to view each car</p> 
</div>  
<br>
<div>
    <div class="a">
        <a href="/chassismountwing/nissan/"><button type="button" class="btn btn-secondary btn-lg">Nissan</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/subaru/"><button type="button" class="btn btn-secondary btn-lg">Subaru</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/bmw/"><button type="button" class="btn btn-secondary btn-lg">BMW</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/chevrolet/"><button type="button" class="btn btn-secondary btn-lg">Chevrolet</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/dodge/"><button type="button" class="btn btn-secondary btn-lg">Dodge</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/ford/"><button type="button" class="btn btn-secondary btn-lg">Ford</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/honda/"><button type="button" class="btn btn-secondary btn-lg">Honda</button></a>
    </div> 
        <br>
    <div class="a">
        <a href="/chassismountwing/hyundai/"><button type="button" class="btn btn-secondary btn-lg">Hyundai</button></a>
    </div> 
        <br>
    <div class="a">
        <a href="/chassismountwing/infiniti/"><button type="button" class="btn btn-secondary btn-lg">Infiniti</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/lexus/"><button type="button" class="btn btn-secondary btn-lg">Lexus</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/mazda/"><button type="button" class="btn btn-secondary btn-lg">Mazda</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/scion/"><button type="button" class="btn btn-secondary btn-lg">Scion</button></a>
    </div>
        <br>
    <div class="a">
        <a href="/chassismountwing/toyota/"><button type="button" class="btn btn-secondary btn-lg">Toyota</button></a>
    </div>
</div>
<br>
{% endblock %}