{% extends "header.html" %}

{% block body %}

<html>
<head>
<style>
div.a {
  text-align: center;
}
</style>
 
</head>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1080px;
}
</style>
</head>
<body>
</body>
</html>
    
<div style="text-align:center">
  <h2>Companies</h2>
  <p>Click on the buttons below to view each car</p>
    <p>As we are an expanding website, we may not have everything listed yet! Check out the companies below for all of the products they sell!</p>
</div>  
<br>
<div>
    <div class="a">
        <a href="http://aprperformance.com/"><button type="button" class="btn btn-secondary btn-lg">APR Performance</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://streetaero.com/"><button type="button" class="btn btn-secondary btn-lg">Street Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.fly1motorsports.com/"><button type="button" class="btn btn-secondary btn-lg">Fly1 Motosports</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.battleaero.com/"><button type="button" class="btn btn-secondary btn-lg">Battle Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://streetaero.com/"><button type="button" class="btn btn-secondary btn-lg">Street Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="http://www.greddy.com/"><button type="button" class="btn btn-secondary btn-lg">Greddy</button></a>
    </div>
</div>
<br>
{% endblock %}