{% extends "header.html" %}

{% block body %}

    <!-- Nav Tabs -->


<!-- END Nav Tabs -->

    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="card-deck">
            {% for i in APP_CONTENT["Home"] %}
          
            <div class="card" style="width: 18rem;">
              <img src="https://cdn.shopify.com/s/files/1/0919/7894/products/28513873682_3fe6bc8374_o_grande.jpg?v=1512449671" class="card-img-bottom" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i[0]}}</h5>
                <p class="card-text">{{i[2]}}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
          
            {% endfor %}
          </div>
        </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card-deck">
            {% for i in APP_CONTENT["Home"] %}
            
            <div class="card" style="width: 18rem;">
              <img src="https://cdn.wallpapersafari.com/11/79/xMyfJT.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i[0]}}</h5>
                <p class="card-text">{{i[2]}}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
          
            {% endfor %}
          </div>
        </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card-deck">
            {% for i in APP_CONTENT["Home"] %}
          
            <div class="card" style="width: 18rem;">
              <img src="https://cdn.wallpapersafari.com/11/79/xMyfJT.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i[0]}}</h5>
                <p class="card-text">{{i[2]}}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
          
            {% endfor %}
          </div>
        </div>
      <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="message-tab">
          <div class="card-deck">
            {% for i in APP_CONTENT["Messages"] %}
          
            <div class="card" style="width: 18rem;">
              <img src="https://cdn.wallpapersafari.com/11/79/xMyfJT.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i[0]}}</h5>
                <p class="card-text">{{i[2]}}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
          
            {% endfor %}
          </div>
        </div>
    </div>
 <!-- END Tab Content -->

{% endblock %}