{% extends "header.html" %}

{% block body %}

<html>
<head>
<style>
div.a {
  text-align: center;
}

</style>
 
</head>
</html>
    

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1080px;
}
</style>
</head>
<body>
</body>
</html>
<div style="text-align:center">
  <h2>Decals</h2>
  <p>Click on the buttons below to view each decal</p>
    <p>Most companies sell their own unique stickers for windows, check any company listed throughout this website to see their decals</p>
</div>  
<br>
<div>
    <div class="a">
        <a href="https://www.carstickers.com/products/stickers/custom-decals/"><button type="button" class="btn btn-secondary btn-lg">Create Own</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.battleaero.com/collections/apparel/products/big-logo-sticker"><button type="button" class="btn btn-secondary btn-lg">Battle Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://streetaero.com/collections/apparel-stickers/products/street-aero-banner"><button type="button" class="btn btn-secondary btn-lg">Street Aero</button></a>
    </div>
<br>
{% endblock %}