{% extends "header.html" %}

{% block body %}

<html>
<head>
<style>
div.a {
  text-align: center;
}
</style>
 
</head>
 
</html>

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1080px;
}
</style>
</head>
<body>
</body>
</html>
    
<div style="text-align:center">
  <h2>Diffusers</h2>
  <p>Click on the buttons below to view each car</p>
</div>  
<br>
<div>
    <div class="a">
        <a href="http://aprperformance.com/racing-product/rear-diffusers/"><button type="button" class="btn btn-secondary btn-lg">APR Performance</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://streetaero.com/collections/diffusers"><button type="button" class="btn btn-secondary btn-lg">Street Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.z1motorsports.com/aero-and-body/shine-auto-project/shine-auto-project-350z-type-ts-rear-diffuser-p-9587.html"><button type="button" class="btn btn-secondary btn-lg">Z1 Motorsport</button></a>
    </div>
</div>
<br>
{% endblock %}