{% extends "header.html" %}

{% block body %}

<html>
<head>
<style>
div.a {
  text-align: center;
}

</style>
</head> 
<body>
    
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1080px;
}
</style>
</head>
<body>
</body>
</html>
    <div style="text-align:center">
  <h2>Duckbill Wing</h2>
  <p>Click on the buttons below to view each car</p>
</div>
<br>
<div class="a">
    <a href="/duckbillwing/nissan/"><button type="button" class="btn btn-secondary btn-lg">Nissan</button></a>
</div>
    <br>
<div class="a">
    <a href="/duckbillwing/subaru/"><button type="button" class="btn btn-secondary btn-lg">Subaru</button></a>
</div>
    <br>
<div class="a">
    <a href="/duckbillwing/mitsubishi/"><button type="button" class="btn btn-secondary btn-lg">Mitsubishi</button></a>
</div>
    <br>
<div class="a">
    <a href="/duckbillwing/infiniti/"><button type="button" class="btn btn-secondary btn-lg">Infiniti</button></a>
</div>
    <br>
<div class="a">
    <a href="/duckbillwing/hyundai/"><button type="button" class="btn btn-secondary btn-lg">Hyundai</button></a>
</div>
    <br>
<div class="a">
    <a href="/duckbillwing/honda/"><button type="button" class="btn btn-secondary btn-lg">Honda</button></a>
</div>
    <br>
<div class="a">
    <a href="/duckbillwing/scion/"><button type="button" class="btn btn-secondary btn-lg">Scion</button></a>
</div>
<br>
{% endblock %}