{% extends "header.html" %}

{% block body %}

<html>
<head>
<style>
div.a {
  text-align: center;
}
</style>
 
</head>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/37873.jpg");
   background-repeat: no-repeat;
  background-size: 2000px 1080px;
}
</style>
</head>
<body>
</body>
</html>
    
<div style="text-align:center">
  <h2>Splitters</h2>
  <p>Click on the buttons below to view each car</p>
</div>  
<br>
<div>
    <div class="a">
        <a href="https://streetaero.com/collections/front-splitters"><button type="button" class="btn btn-secondary btn-lg">Street Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="https://www.battleaero.com/collections/chassis-mount-splitters"><button type="button" class="btn btn-secondary btn-lg">Battle Aero</button></a>
    </div>
        <br>
    <div class="a">
        <a href="http://aprperformance.com/racing-product/front-wind-splitters/"><button type="button" class="btn btn-secondary btn-lg">APR Performance</button></a>
    </div>
         <br>
    <div class="a">
        <a href="https://ventusautoworks.com/product-category/front-splitters/"><button type="button" class="btn btn-secondary btn-lg">Ventus</button></a>
    </div>
</div>
<br>
{% endblock %}